.navbar-nav .nav-item {
    font-family: 'Comic Sans MS', sans-serif; 
   
    padding: 0 15px; /* Espaciado entre elementos */
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif; /* Fuente estilo dibujos animados */
    font-size: 1.5em; /* Tamaño del texto */
    /* You can add any other styles you want for the navbar brand here */
}





.overlay::after {
    content: "";
    background: rgba(0, 0, 0, 0.4); /* Adjust the transparency here (0.5 is 50%) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card {
    background-color: rgba(255, 255, 255, 0.0); /* Set the opacity value (0.8 is 80%) */
}

.card-body {
    background-color: transparent !important; /* Override Bootstrap styles */
}

.border-image {
    position: fixed;
    top: 10%;
    right: 0;
    height: 20%;
    z-index: -1;
}

.border-image2 {
    position: fixed;
    top: 10%;
    left: 0;
    height: 20%;
    z-index: -1;
}

.custom-bg-blue {
    background-color: #cce5ff; /* This is a faint blue color */
}

body {
font-family: 'Palatino', Arial, sans-serif;
}
.card {
background-color: #e0e0e0; /* A darker gray color */
border: 1px solid #ccc; /* Add a border to create a separation */
border-radius: 10px; /* Optional: Add rounded corners for visual appeal */
margin-bottom: 20px; /* Optional: Add some space between the cards */
}
.card-img-top {
    height: 300px; /* Set the desired height for the images */
    object-fit: cover; /* This property controls how the image fits inside the container */
    /* Optionally, you can set a fixed width as well */
    /* width: 100%; */
}

/* Add any other styles you need for your content */
